# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/

.env.dev
.env

media/
staticfiles/
.env.prod
podcast.pem

.env.staging
.env.staging.proxy-companion
.env.pgadmin
.dockerignore
.idea/