{% extends parent_template|default:"base.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block title %}
{{ block.super }} - Update Episode {{ episode.title }}
{% endblock %}

{% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
    <h2>Update Episode {{ episode.title }}</h2>
    <div>
    <button id="upload" class="btn btn-secondary">upload</button>
    <form id="episode_update_form"
          action="{{ channel.get_episode_create_url }}"
          method="post" enctype="multipart/form-data"
          hx-encoding='multipart/form-data'
          hx-post="{{ channel.get_episode_create_url }}"
          hx-trigger="formSubmit from:[id^=id_episode]"
          hx-target="#uploaded"
          hx-swap="innerHTML">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}


        <div id="uploaded">

        </div>


        <br>
        <button type="submit" class="btn btn-primary">Save</button>

    </form>
    <br>
    <!-- <div>
        <progress id='progress' value='0' max='100'></progress><span id="progress_text"></span>

    </div> -->
        <div id="progressDiv" style="display: none">
            <div class="progress" >
              <div id='progress' class="progress-bar progress-bar-striped progress-bar-animated"  role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/create_update_episode.js' %}" type="text/javascript"></script>
{% endblock %}
