{% extends parent_template|default:"base.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block title %}
{{ block.super }} - myform
{% endblock %}

{% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}

    <form action="{% url 'channel_urls:myview' %}"
          method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit">Delete Channel</button>
    </form>
{% endblock %}
